html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.phone, .phone iframe {
    height: 100%;
    width: 100%;
}

@media(min-width:765px) {
    .phone {
        position: absolute;
        top: 50%;
        left: 50%;
        background: #111;
        border-radius: 55px;
        box-shadow: 0px 0px 0px 2px #aaa;
        width: 320px;
        height: 568px;
        margin: -400px 0 0 -160px;
        padding: 105px 25px;
    }

    .phone::before {
        content: '';
        width: 60px;
        height: 10px;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        background: #333;
        top: 50px;
    }

    .phone::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        bottom: 20px;
        border-radius: 100%;
        box-sizing: border-box;
        border: 5px solid #333;
    }

    .phone iframe {
        width: 320px;
        height: 568px;
        display: block;
        width: 100%;
    }

}

/* Framework7 CityPicker Font Size */
.f-s-14 {
    font-size: 14px !important;
}
